@model IEnumerable<Sport.Web.Data.Entities.Match>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchMinutes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
