@model Sport.Web.Data.Entities.Team

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoundationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoundationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coach)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
